# Ignore node_modules in root, server, and client directories
node_modules/

# Ignore config.env in root directory
config.env

# Ignore node_modules in server directory
server/node_modules/

# Ignore config.env in server directory
server/config.env

# Ignore node_modules in client directory
client/node_modules/

# Ignore config.env in client directory
client/config.env